.time{

    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    @media(min-width: 500px){

        font-size: 1.2em;
        
    }

}

.timeIcon {

    color: green;
    font-size: 2em;

    @media(min-width: 500px){

        font-size: 1.2em;
    }

}

.label{

    margin-left: 0.6em;
    font-size: 2em;

    @media(min-width: 500px){

        font-size: 1em;
    }

}